<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>商品查询</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container py-5">
      <form class="w-50 mx-auto mb-5" method="POST" action="/">
        <div class="mb-3">
          <label for="keyword" class="form-label">输入商品关键词</label>
          <input type="text" class="form-control" id="keyword" name="keyword" required>
          <input type="button" class="btn btn-secondary mt-2" id="clearKeyword" value="清空">
          <input type="button" class="btn btn-secondary mt-2" id="pasteKeyword" value="粘贴自剪贴板">
        </div>
        <input type="submit" class="btn btn-primary" value="查询">
      </form>
      <div class="w-50 mx-auto">
        <label for="directLink" class="form-label">或者直接粘贴搜索结果</label>
        <input type="text" class="form-control" id="directLink" name="directLink" placeholder="粘贴搜索结果...">
        <input type="button" class="btn btn-secondary mt-3" id="clearDirectLink" value="清空">
        <input type="button" class="btn btn-secondary mt-3" id="pasteDirectLink" value="粘贴自剪贴板">
        <button id="directButton" class="btn btn-primary mt-3">直接跳转</button>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
       $('#directButton').click(function() {
          let text = $('#directLink').val();
          let link = text.match(/(https?|taobao):\/\/[^\s]*/)[0]; 
          if(link.startsWith('https')) {
              link = 'taobao://' + link.substring(8);
          }
          window.open(link, '_blank');
       });

       $('#clearKeyword').click(function() {
          $('#keyword').val("");
       });
       
       $('#pasteKeyword').click(function() {
          navigator.clipboard.readText()
            .then(text => {
              $('#keyword').val(text);
            });
       });

       $('#clearDirectLink').click(function() {
          $('#directLink').val("");
       });

       $('#pasteDirectLink').click(function() {
          navigator.clipboard.readText()
            .then(text => {
              $('#directLink').val(text);
            });
       });
    </script>
</body>
</html>